<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		<title>Hello Spring Boot</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
		rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
		rel="stylesheet"/>
	</head>
	<body>		
		<div class="panel panel-default" style="margin: 10px">			
			<div class="panel-heading">
				<h1 class="panel-title">Previsao do tempo</h1>
			</div>
				<table class="table">
					<thead>
						<tr>
							<th>dia da semana</th>
							<th>descrição</th>
							<th>Temperatura minima</th>
							<th>Temperatura maxima</th>
							<th>humidade</th>
							<th>data e hora</th>
							<th>Latitude</th>
							<th>Longitude</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tempo: ${tempos}">
							<td th:text="${tempo.diaSemana}"></td>
							<td th:text="${tempo.descricao}"></td>
							<td th:text="${tempo.tempmini}"></td>
							<td th:text="${tempo.tempmaxi}"></td>
							<td th:text="${tempo.humidade}"></td>
							<td th:text="${tempo.data_hora}"></td>
							<td th:text="${tempo.latitude}"></td>
							<td th:text="${tempo.longitude}"></td>
						</tr>
					</tbody>
				</table>
			</div>
	</body>
</html>